__pycache__/
*.pt
*.png
*.txt
*.zip
*.pkl
*.pth
*.csv
data/janestreet/competition.cpython-37m-x86_64-linux-gnu.so
data/example_sample_submission.csv
*.parquet
*.json
*.index
nn/untitled_project/
*.hdf5
nn/ae_mlp_1127/
nn/ae_mlp_1127/untitled_project/
*.feather
*.npy
*.h5
.ipynb_checkpoints/
